

.custom-button {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #555555;
    color: #ffffff;
    cursor: pointer;
    transition: all linear 150ms;
    outline: none;

    &:hover {
        background-color: lighten(#555555, 10%)
    }

    &.googleBtn{
        margin-top: 10px;
        background-color: #b78cff;

        &:hover{
            background-color: darken(#c2a3fc, 10%)
        }
    }
}